@import url(common.css) screen;

/* Left block styles start */

.mainform__leftblock {
    width: 700px;
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftblock__title {
    text-align: center;
}

.leftblock__textboxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0;
    min-width: 512px;
}

.leftblock__textboxes>*:not(:last-child) {
    margin-bottom: 60px;
}

.leftblock__buttons {
    max-width: 512px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.leftblock__buttons>* {
    width: 360px;
}
/* Left block styles end */

/* Right block styles start */

.mainform__rightblock {
    width: 500px;
    min-height: 600px;
    background: linear-gradient(145.22deg, #FFBA88 0%, #DF9BFF 100%);
    border-radius: 0px 6px 6px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 100px;
}

.mainform__rightblock>* {
    margin: 0 auto;
}

.welcome__title {
    color: #fff;
}

.name__title {
    background: #fff;
    color: #000;
    transition: all ease-out .3s;
    box-sizing: border-box;
    padding: 10px;
    min-width: 300px;

}

.mainform__rightblock button {
    color: #fff;
    background: rgba(255, 255, 255, 0.16);
    width: 300px;
    transition: all ease-out .3s;
}

.mainform__rightblock button:hover {
    background: #fff;
    color: #ff9f5a;
}