@import url('common.css') screen;

.mainform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 1000px;
}

.mainform__content {
    margin-bottom: 40px;
}

/* Mainform navbar styles start */
.mainform__nav {
    width: 100%;
    background: linear-gradient(145.22deg, #FFBA88 0%, #DF9BFF 100%);
    border-radius: 6px 6px 0 0;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 70px;
}

.mainform__nav>* {
    margin: auto 0;
}

.mainform__nav__title {
    color: #fff;
    font-size: 36px;
}

.mainform__nav__buttons {
    display: flex;
    justify-content: space-between;
}

.mainform__nav__buttons>*:not(:last-child) {
    margin-right: 32px;
}

.mainform__nav__buttons button {
    height: 80px;
    width: 80px;
    background: rgba(255, 255, 255, 0.16);
}

.mainform__nav__buttons button:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Mainform navbar styles end */

/* Content styles start */

.content__wrapper {
    padding: 0 80px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__info {
    margin-bottom: 70px;
}

.content__info__inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content__title {
    margin: auto 0;
}

.content__items {
    overflow-y: auto;
    max-height: 800px;
    padding-bottom: 40px;
}

.round-button {
    width: 70px;
    height: 70px;
    font-family: 'Consolas';
    font-weight: 400;
    font-size: 50px;
    border-radius: 50%;
}


.round-button>* {
    position: relative;
    top: -5px;
}

.content__items__item {
    background: #f3f3f3;
    min-height: 120px;
    border-radius: 6px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.content__items__item:not(:last-child) {
    margin-bottom: 10px;
}

.content__items__item:hover {
    background: #ececec;
}

.content__items__item .item-name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #3f3f3f;
}

.content__items__item .item-text {
    font-size: 20px;
    color: #727272;
}

.content__items__message {
    margin-bottom: 40px;
    border: solid 2px #ebebeb;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
}

.content__items__message .item-name {
    color: #6100FF;
    font-size: 24px;
    font-weight: 600;
    margin: auto 0;
}

.content__items__message .item-text {
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    padding: 0 50px;
    line-height: 1.5;
}
.content__footer {
    position: absolute;
    bottom: 0px;
}
.content__textinput {
    display: flex;
}

.content__textinput textarea {
    width: 100%;
    min-height: 60px;
    margin-right: 20px;
    resize: none;
    padding: 17px 30px;
    box-sizing: border-box;
}

.content__textinput button {
    height: 60px;
}


/* Content styles end */

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.message-header button {
    width: 30px;
    height: 30px;
    background-color: #ebebeb;
    border-radius: 3px;
}

.message-header button:hover {
    background-color: #dbdbdb;
}

#chat-create-modal {
    display: none;
}