/* golos-text-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/golos-text-v4-cyrillic_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/golos-text-v4-cyrillic_latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* golos-text-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/golos-text-v4-cyrillic_latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/golos-text-v4-cyrillic_latin-500.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* golos-text-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/golos-text-v4-cyrillic_latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/golos-text-v4-cyrillic_latin-600.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* golos-text-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/golos-text-v4-cyrillic_latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/golos-text-v4-cyrillic_latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* golos-text-800 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/golos-text-v4-cyrillic_latin-800.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/golos-text-v4-cyrillic_latin-800.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comfortaa-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/comfortaa-v40-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* comfortaa-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/comfortaa-v40-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* comfortaa-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/comfortaa-v40-cyrillic_latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1 {
    font-family: 'Golos Text';
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-family: 'Golos Text';
    font-size: 26px;
    font-weight: 500;
}

p {
    font-size: 20px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    box-sizing: content-box;
}

body {
    background: #F1F1F1;
    font-family: 'Golos Text';
    height: 100vh;
}

input[type="text"],
input[type="password"] {
    height: 50px;
    font-family: 'Golos Text';
    font-size: 20px;
    background: #EAEAEA;
    color: #3f3f3f;
    border: none;
    outline: none;
    padding-left: 18px;
    border-radius: 6px;
}

button {
    height: 50px;
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 500;
    background: #EDDEFF;
    color: #6100FF;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: all ease-out .3s;
    border-radius: 6px;
}

button:hover {
    background: #6100FF;
    color: #fff;
}

select {
    height: 50px;
    min-width: 100px;
    font-family: 'Golos Text';
    font-size: 20px;
    background: #EAEAEA;
    color: #3f3f3f;
    border: none;
    outline: none;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

select>option {
    background: #fff;
    text-align: left;
    font-family: 'Golos Text';
}

.mainform {
    background: #fff;
    width: 100%;
    min-height: 600px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
}